body {
  font-family: 'Roboto', sans-serif;
  font-family: 'Montserrat', sans-serif;
  background-color: white;
  color: black;
  margin: 10px 6px 0 6px;
}

.firstcon {
  padding-top: 2%;
}

.text {
  text-align: center;
}

.icon:hover {
  color: #31ff7a;
}

.icon {
  padding-bottom: 10px;
}

.icon1 {
  color: black;
  margin-bottom: 0.2rem;
}

.icon2 {
  color: black;
  margin-bottom: 0.2rem;
}

.icon3 {
  color: black;
  margin-bottom: 0.2rem;
}

#title {
  background-color: white;
  color: black;
  padding-bottom: 5px;
}

@media (max-width: 1024px) {
  .wtxtralogo {
    width: 230px;
  }
}

h1 {
  font-family: "Montserrat";
  font-weight: 800;
  font-size: 200%;
  line-height: 1;
}

.wet {
  color: black;
}

.the-form {
  padding: 0 6% 5% 6%;
}

.socials-icons2 {
  padding: 0 6% 5% 6%;
  text-align: center;
}

.socials-icons {
  padding: 2% 6% 5% 6%;
  text-align: center;
}

.padding-0 {
  padding-left: 0;
  padding-right: 0;
}

.card-title {
  font-size: 6px;
  padding: 0 0 0 0;
}

.card-body {
  padding-bottom: 0;
}

.cardrow {
  padding: 0 0 0 0;
}

.tiwa {
  position: relative;
  width: 240px;
  height: 240px;
}

.cardh2 {
  margin-bottom: 0;
  padding-bottom: 0;
}

.clientbtn {
  font-size: 12px;
  margin-top: 5px;
  padding-top: 5px;
}

.card-headertxt {
  font-size: 14px;
}

.h4 {
  text-align: center;
}

.social-icon {
  text-align: center;
  margin: 10px 10px 15px 10px;
  color: black;
}

.social-icon:hover {
  color: #31ff7a;
}

@media (max-width: 900px) {
  .social-icon {
    text-align: center;
    margin: 10px 8px 15px 8px;
  }
}

.contactmeo {
  color: black;
}

.wet2 {
  font-weight: 900;
}

h3 {
  font-weight: 900;
  font-size: 22px;
}

.container-fluid {
  padding: 0 6% 5% 6%;
}

.container-fluid2 {
  padding: 0 6% 0 6%;
}

.music {
  padding: 0 4% 4% 4%;
  text-align: center;
  font-weight: 600;
}

.card-body2 {
  padding: 0 2% 0 2%;
}

.card-header2 {
  padding: 4% 2% 0 2%;
}

.idont2 {
  font-size: 15px;
  background-color: white;
  padding: 5% 6% 5% 6%;
  margin-left: -10px;
  margin-right: -10px;
}

.secondcon {
  text-align: center;
  background-color: white;
}

.navbar {
  padding: 0 0 2rem;
}

.navbar-brand {
  font-weight: 800;
  font-size: 1.3rem;
}

.nav-item {
  padding: 0 6px;
  color: black
}

#features {
  margin-left: -10px;
  margin-right: -10px;
}

.featuresp {
  font-size: 13px;
}

/*.a4999 {
  width: 200px;
  transform: rotate(20deg);
  border-right: 250px;
  text-align: center;
  position: absolute;
}
*/
.featuresh3 {
  color: black;
}

.secondcon {
  padding-top: 1%;
  background-color: white;
}

.pageheaders {
  text-align: center;
}

.xtralogo {
  text-align: center;
  background-color: white;
  padding: 6px 0;
}

.lijsection {
  background-color: white;
}

.twobtns {
  text-align: center;
}

.idont {
  background-color: white;
  text-align: center;
  font-size: 12px;
}

.idon {
  font-size: 20px;
}

h2 {
  font-size: 12px;
}

.download-button {
  margin: 4% 0.3px 4.2% 0;
}

.thediscs {
  width: 92%;
  margin-left: 10px;
}

.carousel-item {
  padding: 40px 10% 40px 10%;
}

.readour {
  margin-top: 30px;
  font-size: 14px;
  font-weight: 400;
  padding: 0 6% 0 6%;
}

#testimonials {
  background-color: white;
  text-align: center;
}

.caro {
  font-size: 22px;
  font-weight: 600;
}

.tronim {
  width: 10%;
  margin: 5px;
}

.hr {
  color: black;
  border-top: 1px;
}

#press {
  background-color: white;
  text-align: center;
  padding: 0 6% 3% 6%;
}

#pricing {
  background-color: #white;
  text-align: center;
  padding: 5% 6% 5% 6%;
  margin-left: -10px;
  margin-right: -10px;
}

.card-deck {}

.twitter-tweet {
  height: 4% !important;
}

.card {
  background-color: white;
  padding: 0 6% 3% 6%;
}

.card {
  padding: 0 1px 5px 1px;
}

.cardh {
  padding: 12 1px 5px 1px;
  font-weight: 600;
}

.list-group-item {
  background-color: transparent;
  color: black;
}

.footer {
  font-size: 12px;
  text-align: center;
  padding-bottom: 0;
  margin-bottom: 0;
  background-color: white;
}

.lol {
  padding-bottom: 0;
  margin-bottom: 0;
}
